
body {
  font-family: verdana;
}

nav { /*header and nav bar */
  background-color: lightslategray;
  width: 83%;
  margin-left: 5%;
}

nav ul.navbar { /* unordered list for navbar */
  margin: 0px;
  padding: 5px 0px 5px 10px;
}

nav li { /* keeps the header list on one vertical line */
  display:inline;
  margin-right: 5px;
}

li.line { /*lines in between nav titles*/
  color: white;
}

nav li.login { /* selects "login" from the li and moves it to the right*/
  margin: 0px 0px 0px 415px;
}


nav #navtitle { /* Iron News */
  color: black;
  font-weight: bold;
}

nav #icon { /* white I icon in the header */
  color: white;
  font-weight: bold;
  border-color: white;
  border-style: solid;
  border-width: thin;
  padding-left: 5px;
}

ol { /*ordered list with headlines*/
  background-color: ghostwhite;
  width: 80%;
  margin: 0% 5% 0% 5%;
  border-bottom: 3px solid;
  border-color: lightslategrey;
}

ul { /*selects all the unordered lists*/
  list-style: none;
}

li.currentstatus { /* text below the headline*/
  font-size: 10pt;
  color: gray;
  margin-left: -2.5%;
}

small.link { /* small link within parenthesis*/
  color: gray
}

/*http://stackoverflow.com/questions/76564/is-there-an-easy-way-to-change-the-color-of-a-bullet-in-a-list?rq=1*/
li span { /*color of text*/
  color: black;
}

li.numbers { /*color of numbers*/
  color: gray;
}

li.numbers:before { /* triangle icon */
  content: url('../images/grayarrow.jpg');
}

footer { /* bottom footer */
  background-color: ghostwhite;
  width: 83%;
  margin-left: 5%;
  margin-right: 5%;
}

footer p { /*brings footer up to the border */
  margin-top: 0%;
  display: inline;
}

footer ul.footer { /*footer unorderedlist*/
  font-size: 10pt;
  margin: 0px;
  padding: 5px 0px 5px 10px;
}

footer li { /*footer unordered list made vertical*/
  display:inline;
  margin-right: 5px;
}
